@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
}

.hero .content * {
    z-index: 10;
}

.hero {
    background-image: url(../images/home/showcase.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    color: white;
}

.hero .content h2 {
    font-size: 3rem;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}
/* .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s ease-in;
    z-index: 100;
}

.hero .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.info-card {
    /*Remove border*/
    /* border: 1px solid red !important; */
    /*change the width on info cards*/
    width: 400px;
    text-align: center;
}

/*Anything that is an info card and an icon*/
.info-card i {
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.info-card h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.info-card p {
    font-size: 0.9rem;
}

/*Need to find the parent container for flex box*/
/*Initialize flexbox*/
.flex-items {
    display: flex;
    /*Adjust boxes on a horizontal context*/
    justify-content: center;
    /*Center boxes on the vertical context*/
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
